@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

div.percentage {
    line-height: 300%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;

    color: #000000;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;

}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    gap: 20px;
    background-color: #7FE9BC;
    padding: 10px 20px;
    height: 80px;
}

.header>.header-item {
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 60%;
}

.lista {
    display: flex;
    justify-content: center;
    margin: 10px 10px 50px 10px;
}

.lista>ul {
    max-width: 65%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.imagem {
    width: 80%;
    max-width: 500px;
}

.button {
    width: 250px;
    height: 80px;
    border-radius: 80px;
    background-color: #43DB7F;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10 10;
}

.button>.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 80%;
    font-size: 20px;
    background-color: #43DB7F;
    display: flex;
    align-items: flex-end;
    border: none;
    margin: 0 auto;
    font-weight: 400;
}

.icon {
    height: 40px;
}

.opcoes {
    justify-content: space-around;
    gap: 0;
    color: #000000;
    font-weight: 400;
}

.opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

}
.button>.sign-up a{
    text-decoration: none; 
    color: #000000;
}
.opcoes a{
    text-decoration: none;
    color: #000000;
}

/*calendario*/
.header-calendario {
    align-items: center;
    padding: 30px;
    justify-content: center;
    min-height: 100vh;
}

.header-calendario>.wrapper {
    width: 350px;
    background: rgba(127, 233, 188, 0.36);
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    justify-content: center;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-betweence;
}

.icones {
    display: flex;
    padding-right: 30px;
}

.icones span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: rgb(26, 24, 24);
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icones span:last-child {
    margin-right: -10px;
}

.icones span:hover {
    background: #f0faf6;
}

.data-atual {
    font-size: 150%;
    font-weight: 500;
}

.calendario {
    padding: 20px;
}

.calendario ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendario .days {
    margin-bottom: 20px;
}

.calendario li {
    color: rgb(31, 30, 30);
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendario .semanas li {
    font-weight: 500;
    cursor: default;
}

.calendario .dias li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.dias li.inactive {
    color: #aaa;
}

.dias li.active {
    color: #fff;
}

.dias li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dias li.active::before {
    background: #43DB7F;
}

.dias li:not(.active):hover::before {
    background: #f2f2f2;
}

/*todo-list*/
:root {
    --trabalho: rgb(80, 139, 207);
    --escola: rgb(237, 213, 32);
    --pessoal: rgb(192, 58, 185);
    --light: #EEE;
    --grey: #888;
	--dark: #313154;
	--danger: #ff5b57;
    --sombra: 0 1px 3px rgba(0, 0, 0, 0.1);
    --traballho-glow: 0px 0px 4px rgb(80, 139, 207);
    --escola-glow: 0px 0px 4px rgb(237, 213, 32);
    --pessoal-glow: 0px 0px 4px rgb(192, 58, 185);
    --trabalho-glow: 0px 0px 4px rgb(80, 139, 207);
}

input:not([type="radio"]):not([type="checkbox"]),
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;

}

h3 {
    font-size: 1 rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h2 {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.criar-todo input[type="text"] {
    display: block;
    height: 50px;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5 rem;
    color: var(--dark);
    background-color: rgb(221, 217, 217);
    border-radius: 00.5rem;
    box-shadow: var(--sombra);
    margin-bottom: 1.5rem;
}
.criar-todo textarea[type="text"] {   
    display: block;
    height: 200px;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5 rem;
    color: var(--dark);
    background-color: rgb(221, 217, 217);
    border-radius: 00.5rem;
    box-shadow: var(--sombra);
    margin-bottom: 1.5rem;
    border: 0 none;
    outline: 0;
    resize: none;
}
.criar-todo input[type="date"] {
    display: block;
    height: 50px;
    width: 200px;
    font-size: 1.125rem;
    padding: 1.5 rem;
    color: var(--dark);
    background-color: rgb(221, 217, 217);
    border-radius: 00.5rem;
    box-shadow: var(--sombra);
    margin-bottom: 1.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.criar-todo .categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.criar-todo .categorias label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--sombra);
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.bubble.trabalho {
    border: 2px solid var(--trabalho);
    border-color: var(--trabalho);
    box-shadow: var(--trabalho-glow);
}
.bubble.pessoal {
    border: 2px solid var(--pessoal);
    border-color: var(--pessoal);
    box-shadow: var(--pessoal-glow);
}

.bubble.escola {
    border: 2px solid var(--escola);
    border-color: var(--escola);
    box-shadow: var(--escola-glow);
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: var(--trabalho);
    box-shadow: var(--traballho-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.bubble.pessoal::after{
    background-color: var(--pessoal);
    box-shadow: var(--pessoal-glow);
}
.bubble.escola::after{
    background-color: var(--escola);
    box-shadow: var(--escola-glow);
}
input:checked ~ .bubble::after{
    width: 10px;
    height: 10px;
    opacity: 1;
}
.criar-todo .categorias label div{
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1.5 rem;
}
.criar-todo input[type="submit"]{
    display: block;
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 80px;
    background-color: #43DB7F;
    transition: 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.criar-todo input[type="submit"]:hover{
    opacity: 0.75;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*lista de tarefas*/
main{
    width: 90%;
    max-width: 800px;
}

.todo-list .list, .seven-days .list{
    margin: 1rem 0;
}

.todo-list .todo-item, .seven-days .todo-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(127, 233, 188, 0.36);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--sombra);
    margin-bottom: 1rem;
}

.todo-item label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .content-todo{
    flex: 1 0 0%;
}

.todo-item .content-todo input{
    color: var(--dark);
    font-size: 1.125rem;
}


.todo-item .actions{
    display: flex;
    align-items: center;
}

.todo-item .actions button:hover{
    opacity: 0.75;
}

.todo-item .actions button{
    display: block;
    padding: 1rem;
    border-radius: 0.25rem;
    color: --dark;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.todo-item .actions .delete{
    background-color: #ee2d57;
}

.todo-item.done .content-todo input{
    text-decoration: line-through;
    color: var(--grey);
}

.todo-item .date-todo input{
    color: var(--dark);
    display: flex;
    align-items: center;
}
.todo-item .description-todo input{
    display: flex;
    align-items: center;
}

.todo-item.done .description-todo input{
    color: var(--grey);
}
.todo-item.done .date-todo input{
    color: var(--grey);
}

